@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body {
    border: 0px;
    margin: 0px;
}

body { 
    color: rgb(10, 10, 10);
    background-color: rgb(255, 255, 245);
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 0vw;
}

span {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    color: rgb(199, 203, 178);
    background-color: rgb(23, 23, 23);
    padding: 0.5vw;
}

br {
    line-height: 1vw;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 1.7vw;
}

h2 {
    font-size: 1.2vw;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    color: rgb(255, 255, 245);
    background-color: rgb(23, 23, 23);
    display: inline-block;
    padding: 0.2vw;
}

a {
    color: rgb(120, 125, 100);
}

p, li {
    font-size: 0.84vw;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    font-family: 'Muli', sans-serif;
    text-align: justify;
    padding-left: 1vw;
    vertical-align: top;
}

iframe {
    width: 14vw;
    max-height: calc(14vw * 0.56);
    min-height: calc(14vw * 0.56);
}

.twitter-tweet-rendered iframe {
    width: initial !important;
    max-height: initial !important;
    min-height: initial !important;
}

td img {
    width: 14vw;
    padding-bottom: 1vw;
}

.footer {
    font-family: 'Muli', sans-serif;
    font-size: 0.8vw;
    color: rgb(170, 170, 170);
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    left: 0px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
    
/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
    
/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    }
    
/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}
    
.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}
    
.lightbox-target:target a.lightbox-close {
    top: 0px;
}